@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Promotion Engine</h1>
    <p class="lead"><i>Click the button below to load the cart and calculate Total Order Value</i></p>
    <p><a href="http://localhost:5204/PromotionEngine/Index" class="btn btn-primary btn-lg">Cart &raquo;</a></p>
</div>
